/* Импорт стилей, шрифтов и иконок */
/* Сброс CSS */

@import url("https://bomjik321.github.io/bomjik321/");


/* Базовые стили */
html {
    height: 50px;
    /*width: 100px;*/
    background-color: #666;
    border-radius: 5px;
    {
        padding:20 px 30px;
        margin: 10px 20px;
        text-decoration: none !important;
    }
}
.button:hover {
        background-color: #888;

}

.container {
        padding: 0 15px;

    }

    body {
        font-size: 14px;

    }

    h1{
        font-size: 2.4em;
        padding: .8em 0 1.2e, 0;

}

body {
    display: flex;
    flex-direction: column;
    height: 100%;

}

.container {
    display: flex;
    width: 100%;
    max-width: 1024px; /*максимальная ширина может иметь другое значение*/
    padding: 0 15px;
    margin: 0 auto;

}


/* Предустановки */
.row {
    display: flex;
    flex-direction: row;

}
.b-rigth {
    border-right: 1px solid #e5e5e5;
}

.column {
    display: flex;
    flex-direction: column;

}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;

}


/* Гибкая верстка */
img {
  width: 100%
  max-width: 100%

}

.col-1 {
    flex: 1;

}

.col-2{
    flex: 2;

}

/* Шапка сайта */
header {
    flex: 0 0 auto;

}
header.logo {
    width: 100px;
}

.col-3 {
    flex: 3;

}

.col-4 {
    flex: 4;

}

.col-5
    flex:5;

}

.col-6 {
    flex: 6;

}

@media (max-width: 800px) {
    .container{
flex-direction: column;

  }
}

header {
    flex: 0 0 auto;

}

/* Основное содержимое */
main{
    display: flex;
    flex: 0 0 auto

}
aside a{
    color: #000;
    text-decoration: none;
}
aside a:hover {
    text-decoration: underline;
}
aside li {
    line-height: 1.5em;
}

main >div.container{
    flex: 0 0 auto;

}
main {
    background-image:
url(/site/images/background.jpg);
    background-position: center center;
    background-size: cover;
}

section {
    flex: 3 0 auto;/*3 - это ширина столбца */
    padding: 0 15;

}

aside {
    flex: 1 0 auto;/* 1 - это ширина столбца */
    padding: 0 15px;

}
/* Подвал сайта */
footer {
    flex: 0 0 auto;

}

header a,
footer a{
    color: #fff;
    text-decoration: none;
}

header a:hover,
footer a:hover{
    text-decoration: underline;
}
footer li {
    line-height: 2em;
}
